@use "global" as *;
.footer__title--inner {
  display: none;
  @include mq(md) {
    // siza
    display: block;
    max-width: rem(70);
    width: 100%;
    max-height: rem(39);
    height: 100%;
  }
  @include mq(xl) {
  }
}

.footer__title--inner::before {
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
